# Exclude everything by default
**

# Include only what the extension needs
!package.json
!README.md
!LICENSE
!THIRD_PARTY_NOTICES
!out/**
!bin/win_x64/llama.cpp/**
!bin/tree-sitter/**
!node_modules/@lancedb/lancedb-win32-x64-msvc/**
